/*
 *  This module was borrowed from the amazing 'Bourbon' gem by Thoughtbot
 *  https://github.com/thoughtbot/bourbon
 */
/*
 *  This module was borrowed from the amazing 'Bourbon' gem by Thoughtbot
 *  https://github.com/thoughtbot/bourbon
 */
/*  _media.sass
 *
 *  This module houses the 'media' component. A media object consists of some element (image, icon, text, link, etc.)
 *  adjacent to another element. A vertical alignment between the two elements can be easily specified and additional
 *  elements based on the media object can be used to create horizontal spacing between elements.
 *
 *  @project Truss
 *  @author Carlos Ramirez III, Ryan Jafari
 *  @copyright 2011
 */
/*  The media element uses Flexbox display by default. The elements will flow horizontally and are
 *  vertically aligned to the center by default.
 *
 *  .top      - Elements are vertically aligned to the top.
 *  .bottom   - Elements are vertically aligned to the bottom.
 *  .baseline - Elements are vertically aligned to the baseline.
 *  .gap      - Elements are anchored to each side of the container.
 *  .dual     - Elements are anchored to each side of the container with a third element centered in the space between.
 *
 *  Styleguide 1.0
 */
.media {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center; }
  .media > .left {
    margin-right: 5px; }
  .media > .right {
    margin-left: 5px; }
    .media > .right > img {
      vertical-align: middle; }

.media.top {
  -webkit-box-align: start;
  -moz-box-align: start;
  box-align: start; }

.media.bottom {
  -webkit-box-align: end;
  -moz-box-align: end;
  box-align: end; }

.media.baseline {
  -webkit-box-align: baseline;
  -moz-box-align: baseline;
  box-align: baseline; }

.media.gap {
  width: 100%; }
  .media.gap > .right {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    text-align: right; }
    .media.gap > .right > .wrap {
      float: right; }

.media.dual {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }
  .media.dual > .center {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    text-align: center; }
