/*  _font.sass
 *
 *  This module contains classes for setting font sizes and styles for text.
 *
 *  @project Truss
 *  @author Carlos Ramirez III, Ryan Jafari
 *  @copyright 2011
 */
/*  Configuration */
/*  Sets font-size to ~ 9px by default
 *
 *  Styleguide 1.1.1
 */
.f-xxs {
  font-size: xx-small; }

/*  Sets font size to ~ 10px by default
 *
 *  Styleguide 1.1.2
 */
.f-xs {
  font-size: x-small; }

/*  Sets font size to ~ 13px by default
 *
 *  Styleguide 1.1.3
 */
.f-s {
  font-size: small; }

/*  Sets font size to ~ 16px by default
 *
 *  Styleguide 1.1.4
 */
.f-m {
  font-size: medium; }

/*  Sets font size to ~ 18px by default
 *
 *  Styleguide 1.1.5
 */
.f-l {
  font-size: large; }

/*  Sets font size to ~ 24px by default
 *
 *  Styleguide 1.1.6
 */
.f-xl {
  font-size: large; }

/*  Sets font size to ~ 32px by default
 *
 *  Styleguide 1.1.7
 */
.f-xxl {
  font-size: xx-large; }

/*  Bolds the text
 *
 *  Styleguide 1.2.1
 */
.f-b {
  font-weight: bold; }

/*  Italicizes the text
 *
 *  Styleguide 1.2.2
 */
.f-i {
  font-style: italic; }

/*  Underlines the text
 *
 *  Styleguide 1.2.3
 */
.f-u {
  text-decoration: underline; }

/*  
 *  _shift_new.scss
 *
 *  This module contains a set of classes which provide spacing between elements.
 *
 *  @project Truss
 *  @author Carlos Ramirez III, Ryan Jafari
 *  @copyright 2011
 */
/* Configuration */
/*
 *  Adds a top margin to shift an element down
 *
 *  .xs - Moves the element an 'extra small' amount of space
 *  .s - Moves the element a 'small' amount of space
 *  .m - Moves the element a 'medium' amount of space
 *  .l - Moves the element a 'large' amount of space
 *  .xl - Moves the element an 'extra large' amount of space
 *  .xxl - Moves the element an 'extra-extra large' amount of space
 *
 *  Styleguide 3.1.1
 */
.l-dwn-new {
  margin-top: 15px; }
  .l-dwn-new.xs {
    margin-top: 5px; }
  .l-dwn-new.s {
    margin-top: 10px; }
  .l-dwn-new.m {
    margin-top: 20px; }
  .l-dwn-new.l {
    margin-top: 25px; }
  .l-dwn-new.xl {
    margin-top: 30px; }
  .l-dwn-new.xxl {
    margin-top: 40px; }

/*
 *  Adds a left margin to shift an element to the right
 *
 *  .xs - Moves the element an 'extra small' amount of space
 *  .s - Moves the element a 'small' amount of space
 *  .m - Moves the element a 'medium' amount of space
 *  .l - Moves the element a 'large' amount of space
 *  .xl - Moves the element an 'extra large' amount of space
 *  .xxl - Moves the element an 'extra-extra large' amount of space
 *
 *  Styleguide 3.1.2
 */
.l-rgt-new {
  margin-left: 15px; }
  .l-rgt-new.xs {
    margin-left: 5px; }
  .l-rgt-new.s {
    margin-left: 10px; }
  .l-rgt-new.m {
    margin-left: 20px; }
  .l-rgt-new.l {
    margin-left: 25px; }
  .l-rgt-new.xl {
    margin-left: 30px; }
  .l-rgt-new.xxl {
    margin-left: 40px; }

/*
 *  This module was borrowed from the amazing 'Bourbon' gem by Thoughtbot
 *  https://github.com/thoughtbot/bourbon
 */
/*
 *  This module was borrowed from the amazing 'Bourbon' gem by Thoughtbot
 *  https://github.com/thoughtbot/bourbon
 */
/*  _media.sass
 *
 *  This module houses the 'media' component. A media object consists of some element (image, icon, text, link, etc.)
 *  adjacent to another element. A vertical alignment between the two elements can be easily specified and additional
 *  elements based on the media object can be used to create horizontal spacing between elements.
 *
 *  @project Truss
 *  @author Carlos Ramirez III, Ryan Jafari
 *  @copyright 2011
 */
/*  The media element uses Flexbox display by default. The elements will flow horizontally and are
 *  vertically aligned to the center by default.
 *
 *  .top      - Elements are vertically aligned to the top.
 *  .bottom   - Elements are vertically aligned to the bottom.
 *  .baseline - Elements are vertically aligned to the baseline.
 *  .gap      - Elements are anchored to each side of the container.
 *  .dual     - Elements are anchored to each side of the container with a third element centered in the space between.
 *
 *  
 */
.media {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center; }
  .media > .left {
    margin-right: 5px; }
  .media > .right {
    margin-left: 5px; }
    .media > .right > img {
      vertical-align: middle; }

.media.top {
  -webkit-box-align: start;
  -moz-box-align: start;
  box-align: start; }

.media.bottom {
  -webkit-box-align: end;
  -moz-box-align: end;
  box-align: end; }

.media.baseline {
  -webkit-box-align: baseline;
  -moz-box-align: baseline;
  box-align: baseline; }

.media.gap {
  width: 100%; }
  .media.gap > .right {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    text-align: right; }
    .media.gap > .right > .wrap {
      float: right; }

.media.dual {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }
  .media.dual > .center {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    text-align: center; }
