<h1>2.0 - Layout</h1>

<h2>2.1 - Grid</h2>
<hr/>
<% styleguide_block '2.1.1' do %>
  <div class="dp20" style="background: darkgray; height: 25px; outline: 1px solid gray"></div>
  <div class="dp20" style="background: darkgray; height: 25px; outline: 1px solid gray"></div>
  <div class="dp20" style="background: darkgray; height: 25px; outline: 1px solid gray"></div>
  <div class="dp20" style="background: darkgray; height: 25px; outline: 1px solid gray"></div>
  <div class="dp20" style="background: darkgray; height: 25px; outline: 1px solid gray"></div>
  <div style="clear: both;"></div>
<% end %>
<% styleguide_block '2.1.2' do %>
  <div class="dp25" style="background: darkgray; height: 25px; outline: 1px solid gray"></div>
  <div class="dp25" style="background: darkgray; height: 25px; outline: 1px solid gray"></div>
  <div class="dp25" style="background: darkgray; height: 25px; outline: 1px solid gray"></div>
  <div class="dp25" style="background: darkgray; height: 25px; outline: 1px solid gray"></div>
  <div style="clear: both;"></div>
<% end %>
<% styleguide_block '2.1.3' do %>
  <div class="dp33" style="background: darkgray; height: 25px; outline: 1px solid gray"></div>
  <div class="dp33" style="background: darkgray; height: 25px; outline: 1px solid gray"></div>
  <div class="dp33" style="background: darkgray; height: 25px; outline: 1px solid gray"></div>
  <div style="clear: both;"></div>
<% end %>
<% styleguide_block '2.1.4' do %>
  <div class="dp40" style="background: darkgray; height: 25px; outline: 1px solid gray"></div>
  <div class="dp40" style="background: darkgray; height: 25px; outline: 1px solid gray"></div>
  <div class="dp20" style="background: lightgray; height: 25px; outline: 1px solid gray"></div>
  <div style="clear: both;"></div>
<% end %>
<% styleguide_block '2.1.5' do %>
  <div class="dp50" style="background: darkgray; height: 25px; outline: 1px solid gray"></div>
  <div class="dp50" style="background: darkgray; height: 25px; outline: 1px solid gray"></div>
  <div style="clear: both;"></div>
<% end %>
<% styleguide_block '2.1.6' do %>
  <div class="dp60" style="background: darkgray; height: 25px; outline: 1px solid gray"></div>
  <div class="dp40" style="background: lightgray; height: 25px; outline: 1px solid gray"></div>
  <div style="clear: both;"></div>
<% end %>
<% styleguide_block '2.1.7' do %>
  <div class="dp66" style="background: darkgray; height: 25px; outline: 1px solid gray"></div>
  <div class="dp33" style="background: lightgray; height: 25px; outline: 1px solid gray"></div>
  <div style="clear: both;"></div>
<% end %>
<% styleguide_block '2.1.8' do %>
  <div class="dp75" style="background: darkgray; height: 25px; outline: 1px solid gray"></div>
  <div class="dp25" style="background: lightgray; height: 25px; outline: 1px solid gray"></div>
  <div style="clear: both;"></div>
<% end %>
<% styleguide_block '2.1.9' do %>
  <div class="dp80" style="background: darkgray; height: 25px; outline: 1px solid gray"></div>
  <div class="dp20" style="background: lightgray; height: 25px; outline: 1px solid gray"></div>
  <div style="clear: both;"></div>
<% end %>
<% styleguide_block '2.1.10' do %>
  <div class="dp100" style="background: darkgray; height: 25px; outline: 1px solid gray"></div>
  <div style="clear: both;"></div>
<% end %>

<h2>2.2 - Shift</h2>
<hr/>
<% styleguide_block '2.2.1' do %>
  <div style="background: lightgray; color: white; width: 500px;">
    <div style="background: darkgray;">Top Element</div>
    <div class="l-dwn $modifier_class" style="background: gray;">Shifted Element</div>
  </div>
<% end %>
<% styleguide_block '2.2.2' do %>
  <div style="background: lightgray; color: white; width: 500px;">
    <div class="l-rgt $modifier_class" style="background: gray;">Shifted Element</div>
  </div>
<% end %>