
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Styleguide Example</title>
  <link rel="stylesheet" href="/stylesheets/layout.css" type="text/css" />
  <link rel="stylesheet" href="/stylesheets/truss.css" type="text/css" />
</head>
<body>

  <header>
    Truss Styleguide
  </header>

  <div id="wrapper">

    <nav role="main">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/font">Font</a></li>
        <li><a href="/layout">Layout</a></li>
        <li><a href="/list">List</a></li>
        <li><a href="/media">Media</a></li>
        <li><a href="/skin">Skin</a></li>
      </ul>
    </nav>

    <%= yield %>

  </div><!-- /#wrapper -->

  <script src="/javascripts/kss.js"></script>

</body>
</html>