<h1>3.0 - List</h1>

<% styleguide_block '3.1' do %>
  <ul class="horizontal" style="background: lightgray">
    <li style="background: gray; margin-left: 0px">Item 1</li>
    <li style="background: gray">Item 2</li>
    <li style="background: gray">Item 3</li>
    <li style="background: gray">Item 4</li>
    <li style="background: gray">Item 5</li>
  </ul>
<% end %>