<h1>4.0 - Media</h1>

<% styleguide_block '4.1' do %>
  <div class="media $modifier_class">
    <div class="left"><image src="../images/cs_logo.png"></image></div>
    <div class="right">Tristique Nibh Ligula</div>
  </div>
<% end %>

<% styleguide_block '4.2' do %>
  <div class="gap">
    <div class="left"><image src="../images/cs_logo.png"></image></div>
    <div class="right">Tristique Nibh Ligula</div>
  </div>
<% end %>

<% styleguide_block '4.3' do %>
  <div class="dual">
    <div class="left"><image src="../images/cs_logo.png"></image></div>
    <div class="center">Tristique Nibh Ligula</div>
    <div class="right"><image src="../images/cs_logo.png"></image></div>
  </div>
<% end %>