<h1>5.0 - Skin</h1>

<h2>5.1 - Border</h2>
<hr/>
<% styleguide_block '5.1.1' do %>
  <div class="s-bordered $modifier_class" style="background: lightgray; border-color: gray; height:25px; width: 500px;"></div>
<% end %>

<h2>5.2 - Cushion</h2>
<hr/>
<% styleguide_block '5.2.1' do %>
  <div style="width:500px;">
    <div class="s-pad $modifier_class" style="background: lightgray; color: white;">
      <div style="background: gray; height: 15px"></div>
    </div>
  </div>
<% end %>