/*  
 *  _shift.scss
 *
 *  This module contains a set of classes which provide spacing between elements.
 *
 *  @project Truss
 *  @author Carlos Ramirez III, Ryan Jafari
 *  @copyright 2011
 */

.shift-dwn-xs  { margin-top: 5px; }
.shift-dwn-s   { margin-top: 10px; }
.shift-dwn-m   { margin-top: 15px; }
.shift-dwn-l   { margin-top: 20px; }
.shift-dwn-xl  { margin-top: 25px; }
.shift-dwn-xxl { margin-top: 30px; }

.shift-rgt-xs  { margin-left: 5px; }
.shift-rgt-s   { margin-left: 10px; }
.shift-rgt-m   { margin-left: 15px; }
.shift-rgt-l   { margin-left: 20px; }
.shift-rgt-xl  { margin-left: 25px; }
.shift-rgt-xxl { margin-left: 30px; }