<html>
  <head>
    <link href="../truss.css" rel="stylesheet" type="text/css" />
  </head>
  <body style="margin: 0 auto; width: 960px;">
    <hgroup>
      <h1>Grid</h1>
      <h2>Layout</h2>
    </hgroup>
    
    <!-- 5ths -->
    <section>
      <h1>1/5ths</h1>
      
      <div class="dp100">Maecenas sed diam eget risus varius blandit sit amet non magna. Sed posuere consectetur est at lobortis. Etiam porta sem malesuada magna mollis euismod. Donec id elit non mi porta gravida at eget metus.</div>
      
      <div style="clear: both;"></div>
      <br/>
      
      <div class="dp20">Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Nullam id dolor id nibh ultricies vehicula ut id elit.</div>
      <div class="dp20">Donec id elit non mi porta gravida at eget metus. Donec ullamcorper nulla non metus auctor fringilla.</div>
      <div class="dp20">Donec sed odio dui. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</div>
      <div class="dp20">Sed posuere consectetur est at lobortis. Maecenas sed diam eget risus varius blandit sit amet non magna.</div>
      <div class="dp20">Curabitur blandit tempus porttitor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</div>
      
      <div style="clear: both;"></div>
      <br/>
      
      <div class="dp40">Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Nulla vitae elit libero, a pharetra augue.</div>
      <div class="dp60">Vestibulum id ligula porta felis euismod semper. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</div>
      
      <div style="clear: both;"></div>
      <br/>
      
      <div style="clear: both;"></div>
      <br/>
      
      <div class="dp20">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla.</div>
      <div class="dp80">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Vestibulum id ligula porta felis euismod semper. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</div>
      
      <div style="clear: both;"></div>
    </section>
    
    <!-- 4ths -->
    <section>
      <h1>1/4ths</h1>
      
      <div class="dp100">Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nulla vitae elit libero, a pharetra augue. Nullam quis risus eget urna mollis ornare vel eu leo. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</div>
      
      <div style="clear: both;"></div>
      <br/>
      
      <div class="dp25">Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Nullam id dolor id nibh ultricies vehicula ut id elit.</div>
      <div class="dp25">Donec id elit non mi porta gravida at eget metus. Donec ullamcorper nulla non metus auctor fringilla.</div>
      <div class="dp25">Donec sed odio dui. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</div>
      <div class="dp25">Sed posuere consectetur est at lobortis. Maecenas sed diam eget risus varius blandit sit amet non magna.</div>
      
      <div style="clear: both;"></div>
      <br/>
      
      <div class="dp25">Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Nullam id dolor id nibh ultricies vehicula ut id elit.</div>
      <div class="dp75">Sed posuere consectetur est at lobortis. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Nullam quis risus eget urna mollis ornare vel eu leo.</div>
      
      <div style="clear: both;"></div>
      <br/>
      
      <div class="dp50">Donec sed odio dui. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</div>
      <div class="dp50">Sed posuere consectetur est at lobortis. Maecenas sed diam eget risus varius blandit sit amet non magna.</div>
      
      <div style="clear: both;"></div>
    </section>
    
    <!-- 3rds -->
    <section>
      <h1>1/3rds</h1>
      
      <div class="dp100">Nullam quis risus eget urna mollis ornare vel eu leo. Sed posuere consectetur est at lobortis. Donec ullamcorper nulla non metus auctor fringilla. Nullam id dolor id nibh ultricies vehicula ut id elit.</div>
      
      <div style="clear: both;"></div>
      <br/>
      
      <div class="dp33">Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Nullam id dolor id nibh ultricies vehicula ut id elit.</div>
      <div class="dp33">Donec id elit non mi porta gravida at eget metus. Donec ullamcorper nulla non metus auctor fringilla.</div>
      <div class="dp33">Donec sed odio dui. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</div>
      
      <div style="clear: both;"></div>
      <br/>
      
      <div class="dp33">Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Nullam id dolor id nibh ultricies vehicula ut id elit.</div>
      <div class="dp66">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec id elit non mi porta gravida at eget metus. Vestibulum id ligula porta felis euismod semper.</div>
      
      <div style="clear: both;"></div>
    </section>
    
  </body>
</html>