<h1>2.0 - Layout</h1>

<h2>2.1 - Grid</h2>
<hr/>
<% @grids.each do |grid| %>
  <% styleguide_block grid.first do %>
    <div class="<%= grid.last%>">The quick brown fox jumps over the lazy dog</div>
  <% end %>
<% end %>

<h2>2.2 - Shift</h2>
<hr/>
<% styleguide_block '2.2.1' do %>
  <div style="background: lightgray; color: white; width: 500px;">
    <div style="background: darkgray;">Top Element</div>
    <div class="l-dwn-new $modifier_class" style="background: gray;">Shifted Element</div>
  </div>
<% end %>
<% styleguide_block '2.2.2' do %>
  <div style="background: lightgray; color: white; width: 500px;">
    <div class="l-rgt-new $modifier_class" style="background: gray;">Shifted Element</div>
  </div>
<% end %>